@import './vars';

.cadre {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.title {
  font-size: 1.5em;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 2px;
  justify-content: center;
  box-shadow: $borderShadow;
  border-radius: 5px;
  width: 10em;
  height: 2em;
  margin-left: 1em;

  &:focus {
    border: solid 2px $primaryColor;
    outline: none;
    box-shadow: $borderShadow, 0 0 0 3px $focusColor;
  }

  &:hover {
    box-shadow: $borderShadow, 0 5px 10px 0px scale-color($primaryColor, $lightness: +80%);
    transform: translate(0, -2px);

    &:focus {
      box-shadow: $borderShadow, 0 0 0 3px $focusColor, 0 5px 10px 0px scale-color($primaryColor, $lightness: +80%);
    }
  }

  &.fit {
    display: flex;
    width: 100%;
  }

    & > * {
    display: block;
    padding: 0.8rem 0;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}